{% extends 'blocks/__base__' %}

{% set classes = [
    'block-wrapper--no-padding',
    'bg-neutral-800',
    'block--hero-simple'
] %}

{% block block_under %}
    {% set backgroundImage = item.backgroundImage.one() ?? null %}
    {% if backgroundImage %}
        {% include 'components/background-image' with {
            image: backgroundImage,
            bg: {
                fixed: true
            },
            overlay: {
                show: true
            }
        } only %}
    {% endif %}
{% endblock %}

{% block block_content %}
    <div class="relative flex h-screen w-full flex-col items-center justify-center text-white">
        {% set image = item.image.one() ?? null %}
        {% if image %}
            <div class="">
                {% include 'components/image' with {
                    image: image,
                    overlay: {
                        show: false
                    }
                } only %}
            </div>
        {% endif %}
    </div>
    <div class="border-red absolute bottom-0 left-1/2 z-10 h-12 w-12 -translate-x-1/2">
        <svg xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-chevrons-down h-full w-full animate-bounce">
            <path d="m7 6 5 5 5-5" />
            <path d="m7 13 5 5 5-5" />
        </svg>
    </div>
{% endblock %}
