{% extends 'blocks/__base__' %}

{% set label = item.backgroundColor.label is defined
    ? item.backgroundColor.label|lower
    : ''
%}
{% switch label %}
{% case 'light' %}
    {% set backgroundClass = 'bg-neutral-200' %}
    {% set textClass = 'text-neutral-800' %}
{% case 'dark' %}
    {% set backgroundClass = 'bg-neutral-800' %}
    {% set textClass = 'text-neutral-200' %}
{% default %}
    {% set backgroundClass = 'bg-neutral-200' %}
    {% set textClass = 'text-neutral-800' %}
{% endswitch %}

{% set classes = [backgroundClass, textClass] %}

{% block block_content %}
    <div class="cms-content mx-auto w-full max-w-7xl">
        {% if item.header %}
            <h2 class="gs-lazy mb-4 md:mb-6 lg:mb-8">
                {{ item.header }}
            </h2>
        {% endif %}
        <div class="gs-lazy gs-content">
            {{ item.body|raw }}
        </div>
    </div>
{% endblock %}

{% block block_under %}
    {% set backgroundImage = item.backgroundImage.one() ?? null %}
    {% if backgroundImage %}
        {% include 'components/background-image' with {
            image: backgroundImage,
            bg: {
                fixed: true
            },
            overlay: {
                show: true
            }
        } %}
    {% endif %}
{% endblock %}
