{% cache globally %}
    {% set socialNavigation = footer.socialNavigation.all() %}
    <footer class="gs-group bg-slate-600 py-5">
        <div class="block-container flex flex-row justify-between">
            <div class="pr-2">
                &copy;
                {{ now|date('Y') }}
                {{ siteName }}
            </div>

            {% if socialNavigation|length %}
                <nav class="grid grid-cols-2 grid-rows-1 gap-4 pl-2">
                    {% for item in socialNavigation %}
                        <a href="{{ item.linkUrl }}"
                            target="_blank"
                            rel="noopener"
                            class="group h-6 w-5 overflow-hidden fill-current">
                            <div class="grid w-full origin-center grid-cols-1 grid-rows-1 transition-transform duration-150 ease-in-out group-hover:-translate-y-6">
                                {% include 'svgs/' ~ item.linkType with {
                                    svgClass: 'top'
                                } %}
                                {% include 'svgs/' ~ item.linkType with {
                                    svgClass: 'bottom'
                                } %}
                            </div>
                        </a>
                    {% endfor %}
                </nav>
            {% endif %}
        </div>
    </footer>
{% endcache %}
