<div class="js-carousel">
    <div class="js-carousel-slides"></div>

    <button class="js-carousel-left">
        {% include '@webroot/svgs/icons/chevron-left.svg' %}
    </button>
    <button class="js-carousel-right">
        {% include '@webroot/svgs/icons/chevron-left.svg' %}
    </button>
</div>
